* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-image: url(https://i.pinimg.com/originals/a9/12/25/a9122539bc17f0b49c3664cf0cf5e43a.jpg);
  background-size: cover;
  font-family: "Open Sans Condensed", sans-serif;
  color: white;
}

header {
  padding: 30px;
  position: relative;
}

div.card {
  padding: 100px;
  position: relative;
  color: rgb(230, 230, 230);
}

ul {
  margin: 100px;
}

button {
  padding: 5px;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  background-color: rgb(176, 196, 222);
}

ul {
  list-style: none;
}

li {
  padding: 10px;
  margin: 10px;
  font-size: 22px;
  background-color: rgb(3, 126, 156);
}

#indicator {
  font-style: italic;
  font-size: 60px;
}

.highscore-element {
  font-size: 18px;
  text-align: left;
  color: white;
  padding: 10px;
  margin: 10px;
  padding-left: 30px;
  background-color: rgb(161, 223, 238);
}
